.navbar {
    padding-top: 0px !important;
    width: 100%;
}

#past-five-link {
    padding-left: 175px;
}
#past-one-link {
    padding-left: 50px;
}
#plan-link {
    padding-left: 50px;
}

#sorted-courses {
    padding-left: 50px;
}
